ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
        margin:0;
    padding: 0;
}

li a {
    display: block;
    color: white;
    background-color: slategrey;
    text-align: center;
padding: 1.2em;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: darkslategray;
    background-color: #ccc;
            margin:0;
    padding: 1em;
}

header,h1{
    vertical-align: top;
    display: inline-flex;
    max-height: 2em;
    backface-visibility:  visible;
}

h1{
    max-width: 30%;
    margin: 0;
    padding: 10px 10px;
    font-size:  2em;
    overflow: hidden;
    background-color: slategrey;
    color: white;  
}

article{
    font-size: 1em;
}

.supressed{
    height:2em;
    margin: 0em;
padding: 0em;
    height: 100%;
    width:90%;
    color: white;
    background-color: black;
    overflow: auto;
}

.supressed:hover{
    background-color: blue;
}